@model MvcMovieDemo.Models.ViewModels.addMovieViewModel

@{
    ViewData["Title"] = "Add";
}

<form asp-action="Add">
    <table>
        <tr>
            <td><label asp-for="Movie.Title">@Html.DisplayNameFor(model => model.Movie.Title)</label></td>
            <td><input asp-for="Movie.Title" /></td>
        <tr/>
        <tr>
            <td><label asp-for="Movie.Genre">@Html.DisplayNameFor(model => model.Movie.Title)</label></td>
            <td><input asp-for="Movie.Genre" /></td>
        <tr />
        <tr>
            <td><label asp-for="Movie.ReleaseDate">@Html.DisplayNameFor(model => model.Movie.Title)</label></td>
            <td><input asp-for="Movie.ReleaseDate" /></td>
        <tr />
    </table>    
</form>