@model IEnumerable<MotoGP.Models.Race>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Races";
}

@foreach (Race race in Model)
{
    <h1>@race.Date.ToString("MMMM")</h1>
    <table>
        <tr>
            <td>@(Html.DisplayFor(modelItem => race.Date)) <a asp-controller="Info" asp-action="ShowRace" asp-route-id="@race.RaceID">@race.Name</a></td>
        </tr>
    </table>
}

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
    <a asp-controller="Info" asp-action="BuildMap">Races on map</a>
    <a asp-controller="Info" asp-action="SelectRace">One by one</a>
</div>