@model IEnumerable<MotoGP.Models.Rider>

@{
    ViewData["Title"] = "Rider";
}

<table>

    @foreach (Rider rider in Model)
    {
    <tr><img src="~/images/riders/@(rider.RiderID).jpg" /></tr>
    <tr><img src="~/images/flags/@(rider.CountryID).png" /></tr>
    <tr>@rider.RiderID</tr>
    <tr>@rider.FirstName @rider.LastName</tr>
    }
</table>